.div1{
display: inline-block;
border: solid 1px;
width:100px;
height: 100px;
background-color:red;
}

.div2{
  display: inline-block;
  position: absolute;
  right: 0px;
  left: 100px;
  border: solid 1px;
  height: 100px;
  background-color: rgb(128, 190, 139);
}

.div3{
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 100px;
  border: solid 1px;
  width: 100px;
  background-color:rgba(241, 232, 99, 0.733);

}

.div4{
  display: inline-block;
  position: absolute;
  left: 100px;
  bottom: 100px;
  top: 100px;
  right: 0px;
  padding-top: 10px;
  padding-left: 10px;
  overflow:scroll;

}

.div5{
  display: inline-block;
  position: absolute;
  left: 100px;
  bottom: 0px;
  border: solid 1px;
  height: 100px;
  right: 0px;
  background-color:rgb(126, 188, 218);

}

img{
  
  width: 100px;
  height: 100px;
}


button{
  top: 100px;
  right: 15px;
  left: 15px;
  width: 70px;
  
}

h2{
  text-align: right;
  padding-right: 100px;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;

}

.div5 h2{
  text-align:center;
  vertical-align: middle;

  font-family: 'Open Sans', sans-serif;
}